<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gym_Management_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Gym_Management_System.Properties.Settings>
            <setting name="dataSourcePath" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="accessTableName" serializeAs="String">
                <value>members</value>
            </setting>
            <setting name="imagesLocation" serializeAs="String">
                <value>C:\\Images</value>
            </setting>
            <setting name="settingsState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="contactNumber" serializeAs="String">
                <value>+92 </value>
            </setting>
            <setting name="gymAddress" serializeAs="String">
                <value>Ali abad road, Brewry, Quetta</value>
            </setting>
        </Gym_Management_System.Properties.Settings>
    </userSettings>
</configuration>